* {
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.4px;
}

body {
    width: 95%;
    margin: 0 auto;
    @media (min-width: 768px) {
        width: 80%
    }
}

a {
    text-decoration: none;
}

h2 {
    margin-top: 40px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

pre,
code {
    margin-top: 0;
    padding-top: 0;
}